@page "/logout"
@using eMeetup.App.Providers
@inject NavigationManager navigationManager
@inject ProductionAuthStateProvider AuthStateProvider

<div class="loader loader-bouncing"><span>Redirecting...</span></div>
@code {
    protected override void OnInitialized()
    {
        AuthStateProvider.Logout().Wait();
        navigationManager.NavigateTo("/login");
    }
}